* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: commissioner;
  src: url(./font/Commissioner/static/Commissioner-Regular.ttf);
}
body {
  font-size: 16px;
  font-family: commissioner;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(245 240 231);
  position: relative;
}
header {
  width: 100%;
  background-image: url("./images/image-hero-desktop.jpg");
  background-size: cover;
  height: 400px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding: 55px 129px 0px 165px;
  position: relative;
}
.navigation {
  display: flex;
  width: 290px;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.nav-links a:hover {
  scale: 1.1;
  opacity: 0.8;
}
.logo-img {
  max-width: 100%;
  height: auto;
}
.mobile-links {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  top: 135px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 170px;
  background-color: rgb(243, 248, 248);
  border-radius: 10px;
  z-index: 1;
}
.mobile-links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  list-style: none;
  width: 100%;
}
.mobile-links > ul > li {
  height: 50px;
  border-bottom: 1px solid rgb(216, 208, 208);
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.mobile-links > ul > li:nth-child(3) {
  border-bottom: none;
}
li > a {
  flex: 1;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.hamburger-menu {
  visibility: hidden;
  width: 20px;
  height: 20px;
}

main {
  max-width: 650px;
  min-height: 700px;
  margin: -95px auto 0px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-section {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section > div {
  width: 90%;
  margin: 0 25px 40px 25px;
}
h1 {
  margin: 10px;
}
.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px 0 15px;
}

.main-section .title-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  height: 57px;
}

.title-btn,
.modal-msg button {
  background-color: #449e83;
  color: white;
  font-weight: bold;
  width: 177px;
  height: 57px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-bookmark {
  background-color: #c6cecc;
  display: flex;
  color: white;
  align-items: center;
  border-radius: 50px;
  height: 57px;
  border: none;
}
.bookmark-icon {
  filter: contrast(0.5);
}
.title-bookmark > p {
  margin: 25px;
  font-weight: bold;
}
.title-img {
  position: relative;
}
.title-logo {
  position: absolute;
  top: -28px;
  left: 45%;
}

.modal-window {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #23212183;
}

.modal,
.modal-msg {
  max-width: 650px;
  height: auto;
  position: absolute;
  top: 184px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
}

.modal-msg {
  top: 440px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  display: none;
}
.modal-msg > p {
  text-align: center;
}
.close-modal {
  display: flex;
  justify-content: end;
  margin-right: -7px;
}

.close-btn {
  border: none;
  background-color: inherit;
}
.close-btn:hover {
  scale: 1.1;
}
.modal-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 5px 20px 5px;
}
p {
  line-height: 30px;
  color: #857f7f;
}
.pledge {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  position: relative;
}
.counter {
  flex-grow: 1;
  text-align: end;
}

.input {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0px 20px 0px;
}
.input > label {
  font-weight: bold;
}
.input > p,
.reward > div > p {
  color: #449e83;
  font-weight: 100;
}

input[type="radio"] {
  margin-left: -30px;
  accent-color: #449e83f6;
}
input[type="radio"] ~ label:hover {
  color: #449e83;
}

.pledge-info {
  padding-bottom: 20px;
  margin: 0 15px 0 55px;
}
.set-pledge {
  border-top: 1px solid #87848475;
  padding: 20px 15px 20px 15px;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.set-pledge > div {
  display: flex;
  gap: 10px;
}
.set-pledge button {
  background-color: #449e83;
  color: white;
  font-weight: bold;
  width: 90px;
  min-height: 35px;
  border-radius: 50px;
}
.set-pledge input {
  text-align: center;
  width: 75px;
  border-radius: 50px;
}
.hidden {
  display: none;
}
.pledge-status-info {
  display: flex;
}
.main-section > .pledge-status-info {
  margin-bottom: 10px;
  margin-top: 10px;
}

.info-cell {
  padding-right: 40px;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info-cell > span {
  font-size: 29px;
  font-weight: bold;
}
.info-cell:nth-child(n + 2) {
  padding-left: 40px;
}
.info-cell:nth-child(-n + 2) {
  border-right: 1px solid #cccccc;
}
.progress-bar-container {
  height: 12px;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.171);
}
.main-section > .progress-bar-container {
  margin-bottom: 30px;
}
.progress-bar {
  border-radius: 50px;
  height: 12px;
  background-color: #3eb4a4;
}
.project-info {
  padding: 25px 0 25px 0;
}

.reward-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.reward-info > h2 {
  font-size: 20px;
}
.rewards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.reward {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  padding: 20px;
}
.reward > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.rewards-left {
  display: flex;
}
.number {
  font-size: 25px;
  font-weight: bold;
  color: black;
  margin-right: 8px;
}
.reward > div > button {
  background-color: #449e83;
  color: white;
  font-weight: bold;
  width: 125px;

  min-height: 35px;
  border-radius: 50px;
}
button[type="button"] {
  border: none;
}
button[type="button"]:hover {
  background-color: #447d73;
}
.title-btns .title-bookmark:hover {
  background-color: #c6cecc;
}
@media (max-width: 600px) {
  header {
    background-image: url("./images/image-hero-mobile.jpg");
  }
  .header-content {
    padding: 30px 15px 0 15px;
  }

  .nav-links {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  .btn-par {
    display: none;
  }
  .title-bookmark {
    margin-left: 10px;
  }
  .bookmark-icon {
    filter: none;
  }
  .modal,
  .modal-msg {
    margin-left: 18px;
    margin-right: 18px;
    top: 145px;
    padding: 20px;
  }
  .modal-msg {
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pledge-status-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-cell,
  .info-cell:nth-child(n + 2),
  .info-cell:nth-child(-n + 2) {
    padding: 0;
    text-align: center;
    border: none;
  }
}
